# Ignore node_modules in root directory
/node_modules

# Ignore node_modules in backend directory
/backend/node_modules

# Ignore node_modules in frontend directory
/frontend/node_modules

# Ignore dist directories
/dist
/backend/dist
/frontend/dist

# Ignore DS_Store files
.DS_Store

# Ignore local env files
.env.local
.env.*.local

# Ignore Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Ignore Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
